.ant-layout-header {
    padding: 0;
}

.ant-input {
    background-color: #2E3F4F;
    color: #fff;
}

.ant-table-row {
    background-color: #001529;
    color: #fff;
}

.ant-table-thead > tr > th {
    background-color: #001529;
    color: #fff;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    background: #001529;
}

.ant-pagination-item-active {
    background: #001529;
}
.anticon {
    color: #fff;
}